/* Styles for website body */
*{
    box-sizing: border-box;
  }
  container-text center p{
    color: black;
  }
#mainNav {
  width: 100%;
  padding-right: 100%;
  background-image: linear-gradient(to bottom right, #712177, #b890bb);
}

.navbar-light .navbar-brand {
  color: #ffffff;
  transition: border-color .5s,background-color .5s,color .5s;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  transition: border-color .5s,background-color .5s,color .5s;
}
  
  jumbotron {
    background-color: #e6c2bf;
  }
  h1 {
    background-color: #85144b;
    color: white;
  }
  navbarResponsive {
  color: #9d6655 
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #85144b;
    text-align: left;
    background-color: white;
  }
  
  header h1{
    background-color: #e6c2bf;
  }
  header p{
    color: black;
  
  }
  
  .greybox{
    width: 100%;
    background-color: #85144b;
    color: #fffdfb;
    padding: 8px;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .table {
    width: 100%;
    color: #85144b;
    margin-bottom: 1rem;
    background-color: lightgray;
}
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: med;
  }
  a {
    color: #712177;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  .list-group-item-action{
      color: #85144b;
      background-color: lightgray;
      border-color: #fffdfb;
      transition: border-color .5s,background-color .5s,color .5s;
  }
  
  legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
  }
  .footnote{
    /* margin: 0 auto; */
    /* width: 850px;
    font-family: "Arial", sans-serif; */
    font-size: 12px!important;
    font-style: italic!important;
    /* padding-bottom: 40px; */
  }
  footer {
    color: #fffdfb;
  
  }
  /* Styles for D3 map */
  #map{
    display: block;
    margin: auto;
    width: 960px;
    height: 500px;
  
  }
  .map-container{
    margin: 0 auto;
  }
  .feature {
    fill: rgba(255,255,255,0.01);
    stroke: gray;
    stroke-width: 1px;
    cursor: pointer;
  }

  .dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 900px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 85px;
  right: 25px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

  