<!DOCTYPE html>
<html lang="en-us">
<!--HEAD-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Microbiome Data</title>


    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Scripting links -->
    <!--- which do we need?  --->
    <!-- jQuery first, then Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <!--Choropleth if needed-->
    <!-- Leaflet CSS & JS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="static/js/ea_choropleth.js"></script>

</head>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="position: relative; right: 20px;" href="index.html">
                <img style="width: 10%;" src="images/mother-infant.png" alt="mombaby">
                <strong>Mother & Infant Healthcare</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" style="text-align: center;">
                    <!-- <li class="nav-item">-->
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="team-introduction.html">Team Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="topic-introduction.html">Topic Introduction</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Historical Data
                            </a>
                            <ul class="dropdown-menu dropdown-content">
                                <a class="dropdown-item" href="historical-data.html">Graphs</a>
                            </ul>
                        </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Maternal & Infant Characteristics
                        </a>
                        <ul class="dropdown-menu dropdown-content">
                            <a class="dropdown-item" href="maternal-infant-graphs.html">Graphs</a>
                            <a class="dropdown-item" href="machine-learning.html">Machine Learning</a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Microbiome Data
                        </a>
                        <ul class="dropdown-menu dropdown-content">
                            <a class="dropdown-item" href="microbiome-graphs.html">Graphs</a>
                            <a class="dropdown-item" href="microbiome-ml.html">Machine Learning</a>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="conclusions.html">Conclusions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="references.html">References Used</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  
<div class="spacer" style="height:100px"></div>
<div class='col-md-12 col-sm-12 my-auto'>

    <h2 class="title">Microbiome Graphs</h2>
    <h3 class="title">Microbiome 1</h3>
    <p class='img-thumbnail'><img src="images/microbiome_image1.png" width="1000" height="400"></p>
</div>
<div class="spacer" style="height:25px">
</div>
<div class='col-md-12 col-sm-12'>
    <h3 class="title">Microbiome 2</h3>
    <p class='img-thumbnail'><img src="images/microbiome_image2.png"  width="1000" height="400"></p>
</div>
<div class="spacer" style="height:25px">
</div>
<div class='col-md-12 col-sm-12'>
    <h3 class="title">Microbiome 3</h3>
    <p class="img-thumbnail"><img src="images/microbiome_image3.png" width="1000" height="400"> </p>
</div>
<div class="spacer" style="height:25px">
</div>
<div class='col-md-12 col-sm-12'>
    <h3 class="title">Microbiome 4</h3>
    <p class="img-thumbnail"><img src="images/microbiome_image4.png" width="1000" height="400"></p>
</div>
<div class="spacer" style="height:25px">
</div>
<div class='col-md-12 col-sm-12'>
    <h3 class="title">Microbiome 5</h3>
    <p class="img-thumbnail"><img src="images/microbiome_image5.png" width="1000" height="400"></p>
</div>
<div class="spacer" style="height:25px">
</div>
</div>
</div>
</div>
</section>
<!--FOOTER-->

<footer>
    <div class="spacer" style="height:25px"></div>
    <div class='col-md-12 col-md-12'>
        <div class="bg-dark fixed-bottom">Copyright &copy; Project: Maternal Infant Health
            and Machine Learning. TEAM: Carol, Joan, Kashifa, Mohammed, and Venkata 2019
        </div>

</footer>
<script>$('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
        }
        var $subMenu = $(this).next('.dropdown-menu');
        $subMenu.toggleClass('show');


        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
            $('.dropdown-submenu .show').removeClass('show');
        });


        return false;
    });</script>

</html>