<!DOCTYPE html>
<html lang="en-us">
<!--HEAD-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Microbiome Data</title>


    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">


</head>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="position: relative; right: 20px;" href="index.html">
                <img style="width: 10%;" src="images/mother-infant.png" alt="mombaby">
                <strong>Mother & Infant Healthcare</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" style="text-align: center;">
                    <!-- <li class="nav-item">-->
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="team-introduction.html">Team Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="topic-introduction.html">Topic Introduction</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Historical Data
                            </a>
                            <ul class="dropdown-menu dropdown-content">
                                <a class="dropdown-item" href="historical-data.html">Graphs</a>
                            </ul>
                        </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Maternal & Infant Characteristics
                        </a>
                        <ul class="dropdown-menu dropdown-content">
                            <a class="dropdown-item" href="maternal-infant-graphs.html">Graphs</a>
                            <a class="dropdown-item" href="machine-learning.html">Machine Learning</a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Microbiome Data
                        </a>
                        <ul class="dropdown-menu dropdown-content">
                            <a class="dropdown-item" href="microbiome-graphs.html">Graphs</a>
                            <a class="dropdown-item" href="microbiome-ml.html">Machine Learning</a>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="conclusions.html">Conclusions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="references.html">References Used</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  
<div class="spacer" style="height:100px"></div>
<div class='col-md-12 col-sm-12 my-auto'>

    <h2 class="title">Microbiome Graphs</h2>
    <h3 class="title">Microbiome 1: Comparing the microbiata of vaginally delivered infants versus C-section</h3>
    <p class='img-thumbnail'><img src="images/microbiome_image1.png" width="1000" height="400"></p>
    <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content imageModal">
            <div id="caption"></div>
        </div>
</div>
<div class="spacer" style="height:25px">
</div>
<div class='col-md-12 col-sm-12'>
        <h3 class="title">Microbiome 2: Comparing the microbiata of vaginally delivered infants versus C-section</h3>
        <p class='img-thumbnail'><img src="images/microbiome_image2.png"  width="1000" height="400"></p>
    <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content imageModal">
            <div id="caption"></div>
        </div>
    
</div>
<div class="spacer" style="height:25px">
</div>
<div class='col-md-12 col-sm-12'>
        <h3 class="title">Microbiome 3: Comparing the microbiata at intervals for vaginally delivered infants</h3>
        <p class="img-thumbnail"><img src="images/microbiome_image3.png" width="1000" height="400"> </p>
    <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content imageModal">
            <div id="caption"></div>
        </div>
</div>
<div class="spacer" style="height:25px">
</div>
<div class='col-md-12 col-sm-12'>
        <h3 class="title">Microbiome 4: Comparing the microbiata at intervals for C-section delivered infants</h3>
        <p class="img-thumbnail"><img src="images/microbiome_image4.png" width="1000" height="400"></p>
    <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content imageModal">
            <div id="caption"></div>
        </div>
</div>
<div class="spacer" style="height:25px">
</div>
<div class='col-md-12 col-sm-12'>
        <h3 class="title">Microbiome 5: Comparing the microbiata of Breast Fed versus Formula fed versus Mixed Fed Infants</h3>
        <p class="img-thumbnail"><img src="images/microbiome_image5.png" width="1000" height="400"></p>
    <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content imageModal">
            <div id="caption"></div>
        </div>
</div>
<div class="spacer" style="height:25px">
</div>
</div>
</div>
</div>
</section>
<!--FOOTER-->

<footer>
    <div class="spacer" style="height:25px"></div>
    <div class='col-md-12 col-md-12'>
        <div class="bg-dark fixed-bottom">Copyright &copy; Project: Maternal Infant Health
            and Machine Learning. TEAM: Carol, Joan, Kashifa, Mohammed, and Venkata 2019
        </div>

</footer>
<script>$('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
        }
        var $subMenu = $(this).next('.dropdown-menu');
        $subMenu.toggleClass('show');


        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
            $('.dropdown-submenu .show').removeClass('show');
        });


        return false;
    });
    expandImage = function (index) {
        var modal = document.getElementsByClassName("modal")[index];

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementsByClassName("image")[index];
        var modalImg = document.getElementsByClassName("imageModal")[index];
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[index];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    expandImage(0);
    expandImage(1);
    expandImage(2);
    expandImage(3);
    expandImage(4);

    </script>

</html>