<!DOCTYPE html>
<html lang="en-us">
<!--HEAD-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team Introduction</title>


    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Scripting links -->
    <!--- which do we need?  --->
    <!-- jQuery first, then Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <!--Choropleth if needed-->
    <!-- Leaflet CSS & JS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="static/js/ea_choropleth.js"></script>

</head>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html">
            <img style="width: 10%;" src="images/mother-infant.png" alt="mombaby">
            <strong>Mother and Infant Healthcare</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" style="text-align: center;">
                <!-- <li class="nav-item">-->
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="team-introduction.html">Team Introduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="topic-introduction.html">Topic Introduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="visualizations.html">Visualization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="machine-learning.html">Machine Learning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="input-form.html">Data Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="conclusions.html">Conclusions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="references.html">References Used</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- References-->
<section id='references'></section>
<br>
<br>
<br>
<br>
<section id='references' class="container">
    <br>
    <div class="container">
        <div class='row'>
            <div class='col-md-12 col-md-12'>
                <div class='greybox'>
                    <h2>References and Inspirations: Where We Found Inspiration and Resources</h2>
                </div>
            </div>
            <div class="spacer" style="height:25px"></div>
            <div class='col-md-12 col-md-12'>
                <h3 class="title">Team Introduction</h3>
                <p class='text'>
                </p>
                <a href="https://github.com/kahmed1996" , bold>Kashifa Ahmed: Git Hub</a>
                <br>
                <a href="https://github.com/irshadmn">Mohammed N. Irshad: Git Hub</a>
                <br>
                <a href="https://github.com/vprmantripragada" , bold>Venkata Ratnam Matripragada: Git Hub</a>
                <br>
                <a href="https://github.com/iamjestone" , bold>Joan E. Stone-Mays: Git Hub</a>
                <br>
                <a href="https://github.com/cmpietro" , bold>Carol (Pietro) Kadish: Git Hub</a>
                <br>
            </div>
            <div class="spacer" style="height:25px"></div>
            <div class='col-md-12 col-md-12'>
                <br>
                <h3 class="title">Topic Introduction</h3>
                <p class='text'>
                </p>
                <a href="https://www.healthcatalyst.com/insights/top-7-healthcare-outcome-measures" , bold>Health
                    Catalyst</a>
                <br>
                <a
                    href="https://www.americashealthrankings.org/explore/annual/measure/IMR/state/OH?edition-year=2015">NAME</a>
                <br>
                <a
                    href="https://www.cdc.gov/reproductivehealth/maternalinfanthealth/infantmortality.htm#targetText=Infant%20mortality%20is%20the%20death,for%20every%201%2C000%20live%20births.&targetText=In%202017%2C%20the%20infant%20mortality,deaths%20per%201%2C000%20live%20births.">CDC
                </a>
                <br>
                <a
                    href="https://medlineplus.gov/ency/article/003402.htm#targetText=The%20Apgar%20score%20is%20based,newborn%20is%20in%20good%20health.">MedLine
                    Plus.gov </a>
            </div>
            <div class="spacer" style="height:25px"></div>
            <div class='col-md-12 col-md-12'>
                <br>
                <h3 class="title">Our Inspirations:</h3>
                <a
                    href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5648614/#targetText=The%20rise%20in%20estrogen%20and,Firmicutes%20as%20in%20obese%20populations.'>The
                    Maternal Gut Microbiome during Pregnancy</a> 
                <br>
                <a href='https://ubiome.com/blog/post/ubiome-largest-human-microbiome-dataset/'>uBiome</a> 
                <br>
                <a href='https://bfmedneo.com/'>Breastfeeding Medicine of NEO, Ann Witt, M.D. </a>
            </div>
            <div class="spacer" style="height:25px"></div>
            <br>
            <div class='col-md-12 col-md-12'>
                <br>
                <h3 class="title">Resources Used:</h3>
                <p>Data Used</p>
                <a href="https://wonder.cdc.gov/">CDC Wonder Database</a>
                <br>
                <a href="LINK">NAME</a>
                <br>
                <a href="  ">NAME</a>
                <br>
                <a href="  ">NAME</a>
                <br>
                <a href="  " target='_blank'>NAME</a>

            </div>
            <div class="spacer" style="height:25px"></div>
            <div class='col-md-12 col-md-12'>
                <br>
                <h3 class="title">Technology Used: A link to our GitHub Wiki</h3>
                <a href="https://github.com/cmpietro/FinalProject-MachineLearning/wiki">FINAL PROJECT: GitHub Wiki</a>
            </div>
        </div>
    </div>
    </div>
</section>
<!--FOOTER-->
<footer>
    <div class="spacer" style="height:25px"></div>
    <div class='col-md-12 col-md-12'>
        <div class="bg-dark fixed-bottom">Copyright &copy; Project: Maternal Infant Health and Machine Learning. TEAM:
            Carol, Joan, Kashifa, Mohammed, and Venkata 2019</div>
</footer>

</html>