<!DOCTYPE html>
<html lang="en-us">
<!--HEAD-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team Introduction</title>


    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Scripting links -->
    <!--- which do we need?  --->
    <!-- jQuery first, then Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <!--Choropleth if needed-->
    <!-- Leaflet CSS & JS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="static/js/ea_choropleth.js"></script>

</head>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" style="position: relative; right: 20px;" href="index.html">
            <img style="width: 10%;" src="images/mother-infant.png" alt="mombaby">
            <strong>Mother & Infant Healthcare</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" style="text-align: center;">
                <!-- <li class="nav-item">-->
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="team-introduction.html">Team Introduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="topic-introduction.html">Topic Introduction</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Historical Data
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                        <a class="dropdown-item" href="historical-data.html">Graphs</a>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Maternal & Infant Characteristics
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                        <a class="dropdown-item" href="maternal-infant-graphs.html">Graphs</a>
                        <a class="dropdown-item" href="machine-learning.html">Machine Learning</a>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Microbiome Data
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                        <a class="dropdown-item" href="microbiome-graphs.html">Graphs</a>
                        <a class="dropdown-item" href="microbiome-ml.html">Machine Learning</a>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="conclusions.html">Conclusions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="references.html">References Used</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- #teamintro -->
<section id='teamintro'></section>
<br>
<br>
<br>
<br>
<section id='teamintro' class="container">
    <br>
    <div class="container">
        <div class='row'>
            <div class='col-md-12 col-md-12'>
                <div class='greybox'>
                    <h2>Introduction: Welcome to Our Team!</h2>
                </div>
            </div>
            <div class="spacer" style="height:25px"></div>
            <div class='col-md-12 col-md-12'>
                <h3 class="title">Links to reach the team members are located within the Resources Used.</h3>
                <br>
            </div>

        </div>
        <div class="spacer" style="height:25px"></div>
        <div class='col-12'>
            <div class="row">
                <div class="col-12">
                    <h3 class="title">Kashifa Ahmed</h3>
                </div>
            </div>
            <div class="row">
                 <div class="col-3">
                      <p class='img-thumbnail'><img src="images/kashifa.jpg" width="200" height="220"></p>
                 </div>
                 <div class="col-9">
            <p class="text">"Puller of Information, Data Cleaner, Draft Planner, and Visualization Maker".
                    For the past three years, turning data into compelling stories has been my passion. I acquired
                    skills to synthesis massive quantities of data, toss out irrelevant information, structure an
                    approach to a given client's logical insights. My real strength is my attention to detail. I
                    pride myself on my reputation for following through and meeting deadlines. When I commit to
                    doing something, I make sure it gets done, and on time. I hold a degree in Engineering.</p>
        </div>
      
    </div>
    </div>
 
        <div class="spacer" style="height:25px"></div>
        <div class='col-12'>
            <div class="row">
                <div class="col-12">
                    <h3 class="title">Mohammed N.Irshad</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p class='img-thumbnail'><img src="images/mohhamed.jpg" width="200" height="220"></p>
                </div>
                <div class="col-9">
                    <p class="text">"The Strong Silent Questioner"
                        Proactive, achievement driven Supply Chain Manager experienced in leveraging multifaceted
                        competencies and deliver outstanding results aligned to corporate goals and objectives
                        thus adding value to the organization.
                        The global supply chain is already undergoing a major transformation enabled by Big Data
                        and powered by data science. These promising advancements, often summarized as
                        “Supply Chain Digitization”—promise to shorten replenishment and lead times, fully automate
                        demand forecasting, lower inventories, and improve on-time production and delivery.
                        In short, these advancements intend to make the supply chain more agile, predictable,
                        and cost efficient for organizations, leading to overall higher profitability and
                        competitiveness. Some of the most promising applications of Data Science that enhance many
                        supply chain functions, include demand forecasting, distribution, procurement, and pricing.
                        The list of exciting data science applications (and challenges) is endless.
                        I joined Case Western Data Science BootCamp to learn skills and knowledge in data analytics
                        to provide valuable strategic inputs for optimized supply chain operations. </p>
                </div>
            </div>
        </div>
        <div class="spacer" style="height:25px"></div>
        <div class='col-12'>
            <div class="row">
                <div class="col-12">
                    <h3 class="title">Venkata Ratnam Mantripragada</h3>
                </div>
            </div>

                <div class="row">
                    <div class="col-3">
                        <p class='img-thumbnail'><img src="images/ratnam.jpg" width="200" height="220"></p>
                    </div>
                    <div class="col-9">
                        <p class="text">"Statistics and Machine Learning Enthusiast" Being an engineer, 
                            I have always believed in accurately and appropriately collected data, 
                            “data don’t lie”. Proper assessment and understanding of the data can go 
                            a long way in making data-driven decisions as well as refining decisions 
                            for future improvements. This project helped me get a better insight into 
                            the current state of infant’s health and various factors affecting it. 
                            It was fascinating in particular, to understand how various factors like 
                            mode of delivery, breastfeeding etc. can influence the infants microbiome, 
                            and in-turn how it may affect infant health long-term. There is a need in 
                            the current field to ensure proper data availability, sharing and analysis 
                            to make cumulative progress in improving infant-mother health.  
                             </p>
                    </div>
                    
            
        </div>
        <div class="spacer" style="height:25px"></div>
        <div class='col-12'>
            <div class="row">
                <div class="col-12">
                    <h3 class="title">Joan E. Stone-Mays</h3>
                </div>
            </div>

                <div class="row">
                    <div class="col-3">
                        <p class='img-thumbnail'><img src="images/joan.jpg" width="200" height="220"></p>
                    </div>
                    <div class="col-9">
                        <p class="text">"Database Maker, Organized Informer, Expert Questioner, and Visualization Maker"
                                I am an 18 year Administrative Professional with a degree in Finance pursing a master's degree in Data Science. 
                                Currently working in the financial services industry, pursuing a career change to Data Science.
                        </p>
                    </div>

        </div>
        <div class="spacer" style="height:25px"></div>
        <div class='col-12'>
            <div class="row">
                <div class="col-12">
                    <h3 class="title">Carol (Pietro) Kadish</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p class='img-thumbnail'><img src="images/carol.jpg" width="190" height="220"></p>
                </div>
                <div class="col-9">
                    <p class="text">"Project Manager, Inspired Story Teller, GitHub Manager, and Data Collector"
                        I have a passion for healthcare, wellness and healthy living in general, particularly
                        when it comes to those who cannot protect themselves, such as infants. I believe that
                        machine learning can and will help society learn ways to improve the healthcare for
                        everyone by reducing the amount of practice needed to find the best combinations of
                        therapies or the most likely combinations of causes, so remedies can be provided. </p>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>
</section>
<script>$('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
        }
        var $subMenu = $(this).next('.dropdown-menu');
        $subMenu.toggleClass('show');


        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
            $('.dropdown-submenu .show').removeClass('show');
        });


        return false;
    });</script>
<!--FOOTER-->
<footer>
    <div class="spacer" style="height:25px"></div>
    <div class='col-md-12 col-md-12'>
        <div class="bg-dark fixed-bottom">Copyright &copy; Project: Maternal Infant Health and Machine Learning. TEAM:
            Carol, Joan, Kashifa, Mohammed, and Venkata 2019</div>

</footer>

</html>