<!DOCTYPE html>
<html lang="en-us">
<!--HEAD-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Topic Introduction</title>


    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Scripting links -->
    <!--- which do we need?  --->
    <!-- jQuery first, then Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <!--Choropleth if needed-->
    <!-- Leaflet CSS & JS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="static/js/ea_choropleth.js"></script>

</head>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="position: relative; right: 20px;" href="index.html">
                <img style="width: 10%;" src="images/mother-infant.png" alt="mombaby">
                <strong>Mother & Infant Healthcare</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" style="text-align: center;">
                    <!-- <li class="nav-item">-->
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="team-introduction.html">Team Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="topic-introduction.html">Topic Introduction</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Historical Data
                            </a>
                            <ul class="dropdown-menu dropdown-content">
                                <a class="dropdown-item" href="historical-data.html">Graphs</a>
                            </ul>
                        </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Maternal & Infant Characteristics
                        </a>
                        <ul class="dropdown-menu dropdown-content">
                            <a class="dropdown-item" href="maternal-infant-graphs.html">Graphs</a>
                            <a class="dropdown-item" href="machine-learning.html">Machine Learning</a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Microbiome Data
                        </a>
                        <ul class="dropdown-menu dropdown-content">
                            <a class="dropdown-item" href="microbiome-graphs.html">Graphs</a>
                            <a class="dropdown-item" href="microbiome-ml.html">Machine Learning</a>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="conclusions.html">Conclusions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="references.html">References Used</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  
<!--Topic Discussion-->
<section id='topicintro'></section>
<br>
<br>
<br>
<br>
<section id='topicintro' class="container">
    <br>
    <div class="container">
        <div class='row'>
            <div class='col-md-12 col-md-12'>
                <div class='greybox'>
                    <h2>Topic Introduction: Some definitions and learnings about our topic</h2>
                </div>
            </div>
            <br>
            <div class="spacer" style="height:25px"></div>
            <div class='col-md-12 col-md-12'>
                <h3 class="title">Infant Mortality</h3>
                <p class='text'>Infant mortality is the death of an infant before the age of 1.  It is a key indicator of 
                    health and the effectiveness of a health care system," says the United Health Foundation in it's annual 
                    compilation of Health Rankings. </p>
            </div>
            <div class="spacer" style="height:25px"></div>
            <div class='col-md-12 col-md-12'>
                <h3 class="title">Mortality Statistics</h3>
                <p class='text'>Mortality statistics are gathered by the CDC and the (NCHS) National Center Health for
                    Statistics. The infant mortality rate (IMR) is the number of infant deaths recorded for every 1,000 
                    live births, per the CDC. 
                </p>
            </div>
            <div class="spacer" style="height:25px"></div>
            <div class='col-md-12 col-md-12'>
                <h3 class="title">Leading Causes of Death</h3>
                <p class='text'>The leading causes of death for a newborn only shift slightly from year to year. Per the
                    CDC in the year 2017, the top five causes of death were: <br>
                    1. Birth Defects <br>
                    2. Preterm Birth / low birth weight <br> 
                    3. Maternal Pregnancy Complications <br>
                    4. Sudden Infant Death Syndrome (SIDS) <br>
                    5. Injuries. <br>
                    A more concerning statistic is that the 2018 infant mortality level was 579.3 per 100,000
                    births in the US, but remained statistically unchanged from 2016, with 587.0 deaths per 100,000. The
                    only significant change from 2016 - 2017 was that two of the leading causes of death, SIDS and
                    Unintential Injury, shifted with a 10.7% increase in injury. SIDS dropped ranking from third to
                    fourth. </p>
            </div>
            <div class="spacer" style="height:25px"></div>
            <div class='col-md-12 col-md-12'>
                <h3 class="title">Ohio Infant Mortality</h3>
                <p class='text'>Ohio ranks 41 (tied with N. Carolina out of 50 states) with a rate of 7.3 in 2018, an increase from
                    2017's rate of 7.0. <br>
                    In the annual report of America's Health Rankings by the United Health
                    Foundation, Ohio has some strengths such as a low uninsured population and a high rate of primary
                    care physicians, but our challenges come from a high rate of smoking, air pollution and low rates of
                    immunization among children. </p>
            </div>
            <div class="spacer" style="height:25px"></div>
            <div class='col-md-12 col-md-12'>
                <h3 class="title">APGAR Scores</h3>
                <p class='text'>APGAR scores are the baseline test performed at 1, five and if needed, 10 minutes
                    after birth, indicating how well the baby is doing outside of the mother. The apgar
                    scoring used, introduced in 1952, is scored for the categores of breathing effort, heart rate,
                    muscle tone, reflexes and color. Most scores for healthy babies range from 7 - 9. 
                    Apgar scoring is not intended to predict the long-term health of a child, but is used as an
                    indicator of needing additonal medical attention for infants with scores lower than seven,
                    particularly after the five minute mark.</p>
            </div>
            <div class="spacer" style="height:25px"></div>
            <div class='col-md-12 col-md-12'>
                <h3 class="title">Human Microbiome / Microbiata</h3>
                <p class='text'>The human microbiome is the total of all the microbiata (bacteria, viruses, fungi)
                    that live within human tissues and fluids.  The human microbiome project, launched in 2007 by the NIH,
                    found there to be an estimated 100 trillion bacterial cells on the typical human body, with only 10 trillion human cells. 
                     </p>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<script>$('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
        }
        var $subMenu = $(this).next('.dropdown-menu');
        $subMenu.toggleClass('show');


        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
            $('.dropdown-submenu .show').removeClass('show');
        });


        return false;
    });</script>
<!--FOOTER-->
<footer>
    <div class="spacer" style="height:25px"></div>
    <div class='col-md-12 col-md-12'>
        <div class="bg-dark fixed-bottom">Copyright &copy; Project: Maternal Infant Health and Machine Learning. TEAM:
            Carol, Joan, Kashifa, Mohammed, and Venkata 2019</div>
</footer>

</html>